


    .Login {
      border: 3px solid black;
      text-align: center;
      margin-top: 10px;
      margin-left: 450px;
      top: 20%;
      position: fixed;
      width: 400px;
      padding: 20px;
      text-align: left;
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input {
      margin: 10px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #f0f0f0;
    }
    
   
     /* .logout-button {
      background-color: rgb(158, 24, 158);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 5px;
    }
    
    .logout-button:hover {
      background-color: rgb(115, 23, 113);
    } */
    


    .logout-button {
      background-color: violet;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 5px;
    }
    
    .logout-button:hover {
      background-color: darkviolet;
    }
    
    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid black;
      width: 340px;
      margin-left: 670px;
     
     
    }
    .login-container input{
      border: 2px solid black;
    }
    
    .google-signin-button {
      background-color: #bc44bc;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 5px;
    }
    
    .google-signin-button:hover {
      background-color: #357ae8;
    }
    
    .toggle-button {
      margin-top: 10px;
      background: none;
      border: none;
      color: rgb(0, 0, 6);
      cursor: pointer;
      font-weight: bold;
    }
    